<section class="todoapp">
    <app-todo-add></app-todo-add>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <input id="toggle-all" class="toggle-all" (click)="toggleAll()" [formControl]='cbxToggleAll' type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <app-todo-list></app-todo-list>
    </section>
    <app-todo-footer></app-todo-footer>
</section>