<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendientes}}</strong> pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li *ngFor="let filtro of filtros" (click)='cambiarFiltro(filtro)'>
        <a [class.selected]="filtro === filtroActual" 
        href="#/">{{filtro| titlecase}}</a>
      </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)='elminarCompletados()'>Clear completed</button>
  </footer>