<li [class.completed]="todo.completado" [class.editing]="editando">
    <div class="view">
      <input class="toggle" type="checkbox" [formControl]="cbxCompletado">
      <label (dblclick)="editar()">{{todo.texto}}</label>
      <button class="destroy" (click)="eliminar()"></button>
    </div>
    <input class="edit" [formControl]="txtInput" type="text" (blur)="terminarEdicion()" #inputFisico>
  </li>